<div id="navigation">
    <!-- navigation start-->
    <ul>
        <li class="active"><a href="home" class="animsition-link">Home</a></li>

        <li><a href="#" class="animsition-link">Loan Product</a>
            <ul>
                <li><a href="#" title="Car Loan" class="animsition-link">Car Loan </a></li>
                <li><a href="#" title="Personal Loan" class="animsition-link">Personal Loan </a></li>
                <li><a href="#" title="Home Loan" class="animsition-link">Home Loan </a></li>
                <li><a href="#" title="Education Loan" class="animsition-link">Education Loan </a></li>
            </ul>
        </li>

        <li><a href="about" class="animsition-link">About us</a>
            <ul>
                <li><a href="about" title="About us" class="animsition-link">About us</a></li>
            </ul>
        </li>

        <li><a href="contact" title="Contact us" class="animsition-link">Contact us</a>
        <li><a href="faq" title="Faq" class="animsition-link">Faq page</a></li>
        <li><a href="login" class="animsition-link">Members Login</a></li>            
    </ul>
</div>
<!-- /.navigation start-->