<div class="slider" id="slider">
    <!-- slider -->
     <div>
        <div class="student-slider-img"><img src="../loan/templates//frontend/images/business-slider-1.jpg" alt="FMCS Website" class="">
            <div class="container">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="slider-captions">
                        <!-- slider-captions -->
                        <h1 class="slider-title">Hassle free Education loan </h1>
                        <p class="slider-text d-none d-xl-block d-lg-block d-md-block">Education Loan from CT&SS At An Attractive Rate Of Interest. Apply Now!</p>

                        <a href="register" class="btn btn-default">Get Started</a> 
                        <!--span class="rate-badge">Rate of interest: Up to 16% - 32%</span-->
                        </div>
                    <!-- /.slider-captions -->
                </div>
            </div>
        </div>
    </div>
    <div class="student-slider-img"><img src="../loan/templates//frontend/images/business-slider-3.jpg" alt="FMCS Website" class="">
        <div class="container">
              <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="slider-captions">
                    <!-- slider-captions -->
                    <h1 class="slider-title">The key to business growth is Borrow</h1>
                    <p class="slider-text d-none d-xl-block d-lg-block d-md-block">The low rate you need for the need you want! Call
                        <br> 0805-414-32**</p>
                    <a href="register" class="btn btn-default ">get started today</a> 
<!--span class="rate-badge">Rate of interest: Up to 16% - 32%</span-->
                    </div>
                <!-- /.slider-captions -->
            </div>
        </div>
    </div>
    <div>
        <div class="student-slider-img"><img src="../loan/templates//frontend/images/business-slider-2.jpg" alt="FMCS Website" class="">
            <div class="container">
                  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="slider-captions">
                        <!-- slider-captions -->
                        <h1 class="slider-title">Looking to invest and have maximum return on your investment?</h1>
                        <p class="slider-text d-none d-xl-block d-lg-block d-md-block"> Register today and become an investor</p>
                        <a href="register" class="btn btn-default ">Get Started</a> 
                         <!--span class="rate-badge">Rate of interest: Up to 16% - 32%</span--></div>
                    <!-- /.slider-captions -->
                </div>
            </div>
        </div>
    </div>
   
</div>